<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<style>
    #chat{
        max-height: 500px;
        min-height: 500px;
        background-color: aliceblue;
        overflow-y: scroll;
    }
</style>
<body>
    <h1>Chat do Guia</h1>
    <div id="chat">

    </div><br>
    <input type="text" id="msg" name="" class="form-control" placeholder="MSG...">
    <input type="text" id="username" name="" placeholder="Seu nome de usuário" class="form-control">
    <button onclick="enviar()" class="btn btn-primary btn-lg btn-block">Enviar</button>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script>
    var socket = io("http://localhost:3036")
    socket.on("disconnect", () => {
        console.log("Desconectado")
    })

    socket.on("showmsg", (data) => {
        console.log(data)
        var chat = document.getElementById("chat")
        var p = document.createElement("p")
        p.innerHTML = data.username + "" + data.msg
        chat.append(p)
    })

    function enviar(){
        var msgField = document.getElementById("msg")
        var usernamefield = document.getElementById("username")

        var msg = msgField.value
        var username = usernamefield.value

        socket.emit("msg", {msg: msg, username: username})
    }

</script>
</html>